extends nav

block title
  title= metadata.title + ' - Settings'
  
block scripts
  script(src="/js/admin.js")
  script
    $(function() { 
      var settingsView = new Admin.SettingsView({ 
        model: new Admin.Settings(!{JSON.stringify(metadata)}),
        type: '#{type}',
      }); 
    })

block content
  .btn-toolbar.span9(style="margin-top: 0; margin-bottom: 0;")
    .btn-group
      btn#addField.btn
        i.icon-plus
        | New Column
      btn#save.btn
        i.icon-hdd
        | Save

  .row-fluid
    form#details.form-horizontal
      legend List details
      .control-group
        label.control-label(for="name") Name:
        .controls
          input#name.input-xlarge(name="name", type="text")
      .control-group
        label.control-label(for="title") Title:
        .controls
          input#title.input-xlarge(name="title", type="text")
      .control-group
        label.control-label(for="description") Description:
        .controls
          input#description(name="description", type="textarea")

  legend Fields
  
  table.table.table-striped.table-condensed
    thead
      tr
        th
        th Name
        th Heading
        th Type
        th Place Holder
        th Required
        th Default
    tbody

  script#fieldTemplate(type="template")
    td: i.icon-remove.invisible
    td: a.namefield {{name}}
    td {{heading}}
    td {{type}}
    td {{placeholder}}
    td {{required}}
    td {{default}}

  hr

block modal
  #newFieldModal.modal.hide.fade
    .modal-header
      button.close(data-dismiss="modal") x
      h3 Add new field

    .modal-body
      form#newFieldForm.form-horizontal.well
        fieldset
          .control-group
            label.control-label Name:
            .controls
              input.input-xlarge(name="name", type="text", placeholder="Field name")
          .control-group
            label.control-label Heading:
            .controls
              input.input-xlarge(name="heading", type="text", placeholder="Field heading")
          .control-group
            label.control-label Type:
            .controls
              select(name="type")
                option(value="String") String
                option(value="Url")Url
                option(value="Name")Name
          .control-group
            label.control-label Placeholder:
            .controls
              input.input-xlarge(name="placeholder", type="text", placeholder="Field placeholder text")
          .control-group
            label.control-label Required:
            .controls
              input.input-xlarge(name="required", type="checkbox")

          input(type="submit", style="visibility:hidden;")

    .modal-footer
      a#addFieldCancel.btn.btn-inverse(href="#") Cancel
      a#addFieldSubmit.btn.btn-primary(href="#") Add Field


  #editFieldModal.modal.hide.fade
    .modal-header
      button.close(data-dismiss="modal") ×
      h3 Edit field
    .modal-body
      form#editFieldForm.form-horizontal.well
        fieldset
          .control-group
            label.control-label Name:
            .controls
              input.input-xlarge(name="name", type="text", placeholder="Field name")
          .control-group
            label.control-label Heading:
            .controls
              input.input-xlarge(name="heading", type="text", placeholder="Field heading")
          .control-group
            label.control-label Type:
            .controls
              select(name="type")
                option(value="String") String
                option(value="Url") Url
                option(value="Name") Name
          .control-group
            label.control-label Placeholder:
            .controls
              input.input-xlarge(name="placeholder", type="text", placeholder="Field placeholder text")
          .control-group
            label.control-label Required:
            .controls
              input.input-xlarge(name="required", type="checkbox")

          input(type="submit", style="visibility:hidden;")
    .modal-footer
      a#editFieldCancel.btn.btn-inverse(href="#") Cancel
      a#editFieldSubmit.btn.btn-primary(href="#") Update