doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    block title

    meta(name="description", content="Records")
    meta(name="author", content="Galex S. Yen")
    meta(name="viewport", content="width=device-width")

    link(rel="stylesheet", href="/less/style.css")
    script(src="/js/libs/modernizr-2.5.3-respond-1.1.0.min.js")

  body
    block navbar

    block body
      block breadcrumb
      
      .container-fluid
        #appview
          .row-fluid
            .span3
              block sidenav
              
            .span9
              block content
              
    block modal
    
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="/js/libs/bootstrap/bootstrap.min.js")
    script(src="https://raw.github.com/eternicode/bootstrap-datepicker/ca11c450c5d5013ba11e4abf9b45fdd17f05fea2/js/bootstrap-datepicker.js")
    script(src="https://raw.github.com/documentcloud/underscore/1.4.3/underscore-min.js")
    script(src="https://raw.github.com/documentcloud/backbone/0.9.9/backbone.js")
    script(src="http://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.rc.1.js")
    script(src="https://raw.github.com/galexy/backbone-deep-model/master/lib/underscore.mixin.deepExtend.js")
    script(src="https://raw.github.com/galexy/backbone-deep-model/master/src/deep-model.js")
    script(src="https://raw.github.com/theironcook/Backbone.ModelBinder/v0.1.6/Backbone.ModelBinder.min.js")
    script(src="https://raw.github.com/derickbailey/backbone.picky/v0.1.0/lib/backbone.picky.min.js")
    script(src="https://raw.github.com/visionmedia/superagent/0.12.1/build/build.js")

    script
      Handlebars.registerHelper("_formatDate", function(value) {
        return (value && value instanceof Date) ? value.toLocaleDateString() : "";
      });
      
      request = superagent;
      
    block scripts