<% listTitle = title %>

<div class="listheader" style="display: table; width: 100%;">
  <div class="headercontainer" style="display:table-row;">
    <div class="headercell" style="display:table-cell;">
      <h4><%= title %></h4>
    </div>
    <div class="headercell" style="display:table-cell;">
      <div data-alert="data-alert" class="alert-message warning fade in">
        <a class="close" href="#">×</a>
        <p><strong>Holy guacamole!</strong> Best check yo self, you’re not looking too good.</p>
      </div>
    </div>
  </div>
</div>

<table class="condensed-table bordered-table zebra-striped">
  <thead>
    <th>Header1</th>
    <th>Header2</th>
  </thead>
  <tbody>
    <tr>
      <td>Some</td>
      <td>Thing</td>
    </tr>
    <tr>
      <td>Some</td>
      <td>Thing</td>
    </tr>
    <tr>
      <td>Some</td>
      <td>Thing</td>
    </tr>
  </tbody>
</table>