
<div class="modal hide fade" id="newItemModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Add new item</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal well" id="newItemForm">
      <fieldset>
        <% for (field in metadata.fields) { 
             var fieldMetadata = metadata.fields[field]; %>
        <div class="control-group">
            <label class="control-label" for="input01"><%= fieldMetadata.heading %></label>
            <div class="controls">
              <input name="<%= field %>" type="<%= fieldMetadata.formType %>" class="input-xlarge" placeholder="<%= fieldMetadata.placeholder %>"></input>
            </div>
        </div>
        <% } %>
        <input type="submit" style="visibility:hidden;"></input>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" id="addItemCancel" class="btn btn-inverse">Cancel</a>
    <a href="#" id="addItemSubmit" class="btn btn-primary" class="submit">Add Item</a>
  </div>
</div>
