{{#view Application.addNewItemView}}
<div class="modal hide fade" id="addNewItemModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Add new item</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <% for (field in metadata.fields) { %>
        <div class="control-group">
            <label class="control-label" for="input01"><%= metadata.fields[field].heading %></label>
            <div class="controls">
              {{view Em.TextField valueBinding="newItem.<%= field %>" classNames="input-xlarge" placeholder="<%= metadata.fields[field].placeholder %>"}}
            </div>
        </div>
        <% } %>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-inverse" {{action "cancel"}}>Cancel</a>
    <a href="#" class="btn btn-primary" class="submit disabled" {{action "submit"}}>Add Item</a>
  </div>
</div>
{{/view}}