<div class="span2">
  <ul class="nav nav-list">
    <li class="nav-header">Documents</li>
    <li><a href="/documents/insurance"><i class="icon-file"></i> Insurance</a></li>
    <li class="nav-header">Lists</li>
    <li class="active"><a href="#"><i class="icon-book"></i> Passwords</a></li>
    <li class="nav-header">Pages</li>
    <li><a href="/pages/master"><i class="icon-flag"></i> Master List</a></li>
  </ul>
</div>
